* {
  font-family: "Poppins", sans-serif;
}

.row {
  height: 100%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.col { 
    height: 60%;

}
.description {
    display: flex;
    flex-wrap: wrap;
   
}

.description #text-title {
    position: relative;
    font-size: 50px;
    line-height: 60px;
    left: 20%;
    top: 10%;
    font-weight: 600;
    height: fit-content;
}
.description .text-desc {
    position: relative;
    font-size: 18px;
    width: 90%;
    left: 20%;
    top: -15%;
    
}

#hero-image img {
    position: relative;
    left: 10%;
    width: 90%;
  
}

.col h2 {
  position: relative;
  top: 5%;
  left: 20%;
  font-size: 15em;
  font-weight: 800;
   height: fit-content;
}
.box-title {
    position: relative;
    width: 100%;
    height: 20%;
    justify-content: center;
    align-items: center;
}
.box-title h2 {
    position: relative;
    text-align: center;
    font-size: 30px;
    font-weight: 500;
}

.card-view {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    transform-style: preserve-3d;
   
}
.card-view .box {
    position: relative;
    width: 20%;
    
    /* height: 100%; */
    top: -5%;
    margin: 40px;
    background: #2ec1ac;
    border-radius: 20px;
    transform-style: preserve-3d;
    align-items: center;
    justify-content: center;
    transition: 0.5s;
    transform-style: preserve-3d;
    transform: translate3d(0,0, 100px);
}
.card-view .box:hover  {
    
    top: -15%;
   
}

.box .p-title {
    color: gold;
    position: relative;
    font-size: 40px;
    text-align: center;
    top: -10%;
    width: 100%;
    left: -3%;
    margin: 10;
    transform-style: preserve-3d;
    transform: translate3d(0,0, 100px);
    transition: 0.5s;
    z-index: 2;
    
}
.box:hover .p-title {
    font-size: 45px;
    color: yellow;
    top: -5%;
   
}
.box img {
    position: relative;
    width: 100%;
}
.box a {
    position: absolute;
    height: fit-content;
    text-decoration: none;
    color: black;
    background: rgba(255, 215, 0, 1);
    border-radius: 20px;
    bottom: 70;
    left: 30%;
    padding: 10px 25px;  
    transform-style: preserve-3d;
    transform: translate3d(0,0, 100px);
    transition: 0.5s;
    
}
.box:hover a {
    font-size: 24px;
    left: 25%;
}

.box .p-desc {
    color: white;
    text-align: center;
    font-weight: 500;
}

@media (max-width: 1200px) {

}
